.other {
  display: flex;
  background-color: black;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.other-para {
  color: white;
  width: 60%;
}
.blank {
  width: 15%;
}

@media only screen and (max-width: 950px) {
  .other-para {
    width: 100%;
    text-align: center;
  }
}
