.tv {
  display: flex;
  padding: 2rem;
  padding-left: 9rem;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.tv-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tv-para {
  color: white;
  width: 40%;
}
.glob-para-line-1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}
.glob-para-line-2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  .tv {
    padding-left: 2rem;
  }
  .tv-para {
    color: white;
    width: 70%;
  }
  .tv-image {
    width: 70%;
  }
}
@media only screen and (max-width: 950px) {
  .tv {
    flex-direction: column;
  }
  .tv-para {
    width: 100%;
    text-align: center;
  }

  .tv-image {
    width: 90%;
  }
}
@media only screen and (max-width: 950px) {
  .tv {
    flex-direction: column;
  }
  .tv-para {
    text-align: center;
  }
  .glob-para-line-1 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .glob-para-line-2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .tv-image {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .glob-para-line-1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .glob-para-line-2 {
    font-size: 1rem;
    font-weight: 500;
  }
}
